@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/*Général*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    margin: 0;
}
body{
    display: flex;
    flex-direction: column;
}
a{
    text-decoration: none;
    color: black;
}
main{
    flex: 1;
    box-sizing: border-box;
}
section{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    font-family: "Roboto", sans-serif;
}

header{
    background-color: #112c50;
    padding: 1rem 1rem 1rem 1rem;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}
header ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 1rem;
    cursor: pointer;
    align-items: center;
}
header li{
    display:flex;
    flex-direction: row;
    align-items: center;
}
header a{
    text-decoration: none;
    color: white;
}
header a:hover{
    color: #f1dd18;
}
#logo{
    width: 20rem;
    height: auto;
    cursor: pointer;
}
footer{
    background-color: #112c50;
    padding: 2rem;
    color: white;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}
h1{
    font-family: "Montserrat", sans-serif;
    margin: 1rem 0 1rem 0;
}
h2{
    margin-top: 1rem;
}
h3{
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}
table{
    border: solid 1px black;
    border-collapse: collapse;
}
td{
    padding: 0.3rem;
    border: solid 1px black;
    border-collapse: collapse;
}
th{
    padding: 0.3rem;
    border: solid 1px black;
    border-collapse: collapse;
}





/*Acceuil*/
#sectionSlider{
    margin: unset;
    padding: unset;
    height: 90dvh;
    width: 100%;
    box-sizing: border-box;
}
.slider{
    width: 100%;
    height: 100%;
    position: relative;
}
.imgSlide{
    object-fit:cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    opacity: 0;
    transition: opacity 0.5s ease;
}
.imgSlide.active{
    opacity: 1;
}
#formConnexion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
    padding: 1rem;
    border-radius: 20px;
}
#formConnexion table{
    border: none;
}
#formConnexion td{
    padding: 0.1rem;
    border: none;
}
#lienMdpOublie{
    margin: 0.2rem 0 0 0;
}
#lienMdpOublie:hover{
    text-decoration: underline;
}
#creerNouveauCompte{
     margin: 2rem 0 0 0;
     padding: 1rem;
     background-color: #42b72a;
     color:black;
     border-radius: 20px;
     transition: 0.2s ease;
}
#creerNouveauCompte:hover{
    transform: translateY(10%);
    color: white;
}
.btnForm{
    all: unset;
}
.btnForm span {
    display: inline-flex;      /* permet le background */
    align-items: center;
    justify-content: center;
    padding: 0.5rem;              /* espace autour de l’icône */
    border-radius: 50%;        /* rond si tu veux */
    background-color: black;
    color: white;
    transition: 0.2s ease;     /* animation propre */
}
.btnForm span:hover {
    color: black;
    background-color: #f1dd18;
    cursor: pointer;
}
.listes{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    gap: 0.5rem;
    align-items: center;
}
.insert{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f2f2f2;
    padding: 1rem;
    border-radius: 20px;
    gap: 0.5rem;
}
.insert td{
    border: none;
}
.insert table{
    border: none;
}

form button{
    background-color: black;
    color: white;
    border: none;
    padding: 0.2rem 0.4rem 0.2rem 0.4rem;
    border-radius: 20px;
    cursor: pointer;
}

#Connexion{
    margin-top: 0.5rem;
}
/*Style txt card*/
.cardTypeHab{
    font-weight: 550;
    font-family:"Inter", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size:15px;
}
.cardVilleHab{
    color: #555555;
    font-family:Arial, Helvetica, sans-serif;
    font-size:13px;
}
.cardTarifHab{
    color: #555555;
    font-family:Arial, Helvetica, sans-serif;
    font-size:13px;
    margin-top: 1px;
}








/*Style vue comptes clients, propriétaires*/
.vue_compte{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 2rem;
}

.infos_perso{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}
.infos_perso th{
    text-align: start;
    padding-left: 1rem;
    border: none;
}
.infos_perso td{
    padding-right: 1rem;
    border: none;
}
.infos_perso table{
    border: none;
    background-color: #f2f2f2;
    border-radius: 20px;
}
#top{
    padding-top: 1rem;
}
#bottom{
    padding-bottom: 1rem;
}

.infos_activites{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.infos_activites td{
    text-align: center;
}

#btAnnulerReservation{
    display: inline-flex;      /* permet le background */
    align-items: center;
    justify-content: center;
    padding: 0.5rem;              /* espace autour de l’icône */
    border-radius: 50%;        /* rond si tu veux */
    background-color: red;
    color: white;
    transition: 0.1s ease;
   
}
#btAnnulerReservation:hover{
    transform: scale(110%);
}

#btReservationValidee{
    display: inline-flex;      /* permet le background */
    align-items: center;
    justify-content: center;
    padding: 0.5rem;              /* espace autour de l’icône */
    border-radius: 50%;        /* rond si tu veux */
    background-color: #42b72a;
    color: white;
}
#btReservationValidee{
    cursor:default;
}

#btAjouterHabitation{
    all: unset;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #42b72a;
    color: white;
    padding: 0.5rem;
    border-radius: 10px;
    gap: 0.5rem;
    cursor: pointer;
    transition: transform 0.2s ease;
}
#btAjouterHabitation:hover{
    transform: scale(110%);
}
#btAjouterHabitation span {
    color: white;
}


#btModifierHabitation{
    all: unset;
}
#btModifierHabitation span {
    display: inline-flex;      /* permet le background */
    align-items: center;
    justify-content: center;
    padding: 0.5rem;              /* espace autour de l’icône */
    border-radius: 50%;        /* rond si tu veux */
    background-color: black;
    color: white;
    transition: 0.2s ease;     /* animation propre */
}
#btModifierHabitation span:hover {
    color: black;
    background-color: #f1dd18;
    cursor: pointer;
}

#btSupprimerHabitation{
    all: unset;
}
#btSupprimerHabitation span {
    display: inline-flex;      /* permet le background */
    align-items: center;
    justify-content: center;
    padding: 0.5rem;              /* espace autour de l’icône */
    border-radius: 50%;        /* rond si tu veux */
    background-color: black;
    color: white;
    transition: 0.2s ease;     /* animation propre */
}
#btSupprimerHabitation span:hover {
    color: black;
    background-color: red;
    cursor: pointer;
}


#btModifierInfosPersoClient{
    font-size: small;
    background-color: black;
    color: white;
    padding: 0.4rem;
    border-radius: 10px;
    transition: 0.2s ease;
}
#btModifierInfosPersoClient:hover{
    background-color: #f1dd18;
    color: black;
}




/*Style vues select,insert, gestion*/
.vueSelect{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem 0 2rem 0 ;
}
.vueInsert{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 0rem 1rem 0rem;
}





/*Style annonces habitations*/
#sectionAnnonces{
    align-items: unset;
    padding: unset;
    font-family: "Roboto", sans-serif;
    min-height: 100dvh;
}
.imgHabitation {
    width: 100%;
    height: 200px; /* ou ce que tu veux */
    object-fit: cover;
    border-radius: 20px; /* optionnel */
}
#conteneurRechercheAnnonces{
    background-color: #f2f2f2;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#formRecherheAnnonces{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    background-color: white;
    border-radius: 40px;
    margin: auto;
    padding: 1.5rem;
}
.r{
    display: flex;
    flex-direction: column;
    font-weight: 550;
    font-family:"Inter", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size:15px;
}
.btnRechercheAnnonces{
    all: unset;
}
.btnRechercheAnnonces span {
    display: inline-flex;      /* permet le background */
    align-items: center;
    justify-content: center;
    padding: 0.5rem;              /* espace autour de l’icône */
    border-radius: 50%;        /* rond si tu veux */
    background-color: black;
    color: white;
    transition: 0.2s ease;     /* animation propre */
}
.btnRechercheAnnonces span:hover {
    color: black;
    background-color: #f1dd18;
    cursor: pointer;
}


.conteneurCardAnnonceHabitation{
    padding: 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.cardAnnonceHabitation{
    padding: 1rem;
    width: 225px;
}
.cardAnnonceHabitation:hover{
    cursor: pointer;
    background: #f2f2f2;
    border-radius: 20px;
}
#btReserver span {
    display: inline-flex;      /* permet le background */
    align-items: center;
    justify-content: center;
    padding: 0.5rem;              /* espace autour de l’icône */
    border-radius: 50%;        /* rond si tu veux */
    background-color: #112c50;
    color: white;
    transition: 0.2s ease;     /* animation propre */
}
 #btReserver span:hover {
    color: black;
    background-color: #f1dd18;
    cursor: pointer;
}




/*Vue resa*/
.galleryReservation {
  display: grid;
  grid-template-columns: 600px 300px ; /* grande colonne + petite colonne */
  grid-auto-rows: 200px; /* hauteur de base des lignes */
  gap: 12px;
  margin-top: 1rem;
}
.galleryReservation img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 6px;
}
/* Grande image */
.galleryReservation .big {
  grid-row: span 2; /* occupe 2 lignes */
}
.typeVilleDescHabitation{
    width: 900px;
    margin-bottom: 1rem;
}
#formResa{
    padding: 1rem;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    background-color: #f2f2f2;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
#titreCapacite{
    font-weight: 500;
}
#nbCapacite{
    font-size: 14px;
    color: #303030;
}
.titreNbJours{
    font-weight: 500;
}
.titrePrix{
    font-size: 14px;
    color: #303030;
}
.formResaInputs{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
.f{
    display: flex;
    flex-direction: column;
}
.f label{
    font-weight: 500;
    font-size: 15px;
}
.capacitePrixHab{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

#reserver{
    all: unset;
}
#reserver span {
    display: inline-flex;      /* permet le background */
    align-items: center;
    justify-content: center;
    padding: 0.5rem;              /* espace autour de l’icône */
    border-radius: 50%;        /* rond si tu veux */
    background-color: black;
    color: white;
    transition: 0.2s ease;     /* animation propre */
}
#reserver span:hover {
    color: black;
    background-color: #f1dd18;
    cursor: pointer;
}

#msg-login-resa{
    color: red;
    margin-bottom: 1rem;
}



/*Confirmation resa*/
.conteneurPrincipalConfirmationResa{
    background-color: #f2f2f2;
    padding: 1rem;
    border-radius: 20px;
    width: 25%;
    margin-bottom: 2rem;
}
.descConfirmResa{
    margin-top: 2px;
    font-size: 13px;
    color: #303030;
}
.dataConfirmationResa{
    padding: 0.5rem 0 0.5rem 0;
    border-top: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.dataAnnulationResa{
    padding: 1rem 0 1rem 0;
}
#formBtConfirmationResa{
    display: flex;
    justify-content: center;
    margin-top: 0.5rem;
    gap: 0.5rem;
}

#btConfirmationResa{
    all: unset;
}
#btConfirmationResa span {
    display: inline-flex;      /* permet le background */
    align-items: center;
    justify-content: center;
    padding: 0.5rem;              /* espace autour de l’icône */
    border-radius: 50%;        /* rond si tu veux */
    background-color: black;
    color: white;
    transition: 0.2s ease;     /* animation propre */
}
#btConfirmationResa span:hover {
    color: black;
    background-color: #42b72a;
    cursor: pointer;
}

#btAnnulationResa{
    all: unset;
}
#btAnnulationResa span {
    display: inline-flex;      /* permet le background */
    align-items: center;
    justify-content: center;
    padding: 0.5rem;              /* espace autour de l’icône */
    border-radius: 50%;        /* rond si tu veux */
    background-color: black;
    color: white;
    transition: 0.2s ease;     /* animation propre */
}
#btAnnulationResa span:hover {
    color: black;
    background-color: red;
    cursor: pointer;
}

.conteneurImgConfirmationResa{
    flex: 1;
    width: 150px;
}
.conteneurTitreDataHabitation{
    flex: 1;
}
.imgConfirmationResa{
    width: 100%;
    height: 150px; /* ou ce que tu veux */
    object-fit: cover;
    border-radius: 20px; /* optionnel */
}
.cardTeteConfirmationResa{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
}
#titreConfirmationResa{
    margin: 0 0 2rem 0;
}
.modifierInfos{
    background-color: #f1dd18;
    color: black;
    padding: 0.5rem;
    border-radius: 10px;
    font-size: small;
    transition: 0.2s ease;
}
.modifierInfos:hover{
    background-color: black;
    color: white;
}




/*resa confirmee*/
.conteneurMsgResaConfirmee{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin: auto;
    padding: 2rem;
    background-color: #f2f2f2;
    border-radius: 20px;
}

.sectionMsgResaValidee{
    height: 100%;
}

.prenomMsgResaConfirmee{
    color:#f1dd18;
    font-weight: bold;
}

#retourAccueil{
    text-decoration: underline;
    color: #112c50;
}
#retourAccueil:hover{
    color:black;
}

#retourEspacePerso{
    text-decoration: underline;
    color: #112c50;
}
#retourEspacePro:hover{
    color:black;
}

.liensRetoursResaConfirmee{
    display: flex;
    flex-direction: row;
    gap: 5rem;
    margin-top: 2rem;
}



/*creation annonce*/

.conteneurBtAjouterAnnulerCreationAnnonce{
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}

#ajouter{
    all: unset;
}
#ajouter span {
    display: inline-flex;      /* permet le background */
    align-items: center;
    justify-content: center;
    padding: 0.5rem;              /* espace autour de l’icône */
    border-radius: 50%;        /* rond si tu veux */
    background-color: black;
    color: white;
    transition: 0.2s ease;     /* animation propre */
    margin-top: 1rem;
}
#ajouter span:hover {
    color: black;
    background-color: #42b72a;
    cursor: pointer;
}

#annuler{
    all: unset;
}
#annuler span {
    display: inline-flex;      /* permet le background */
    align-items: center;
    justify-content: center;
    padding: 0.5rem;              /* espace autour de l’icône */
    border-radius: 50%;        /* rond si tu veux */
    background-color: black;
    color: white;
    transition: 0.2s ease;     /* animation propre */
    margin-top: 1rem;
}
#annuler span:hover {
    color: black;
    background-color: red;
    cursor: pointer;
}


#formAjouterHabitationProprietaire{
    margin-top: 1rem;
}
#ajouterHabitationProprietaire:hover{
    background-color: #f1dd18;
    color: black;
}

#ajouterHabitationProprietaire{
    background-color: black;
    color: white;
    padding: 0.5rem;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.2s ease;
}




/*vue creation compte*/
#cree{
    all: unset;
}
#cree span {
    display: inline-flex;      /* permet le background */
    align-items: center;
    justify-content: center;
    padding: 0.5rem;              /* espace autour de l’icône */
    border-radius: 50%;        /* rond si tu veux */
    background-color: black;
    color: white;
    transition: 0.2s ease;     /* animation propre */
    margin-top: 1rem;
}
#cree span:hover {
    color: black;
    background-color: #42b72a;
    cursor: pointer;
}


/*vue mdp oublie*/
#verifier{
    all: unset;
}
#verifier span {
    display: inline-flex;      /* permet le background */
    align-items: center;
    justify-content: center;
    padding: 0.5rem;              /* espace autour de l’icône */
    border-radius: 50%;        /* rond si tu veux */
    background-color: black;
    color: white;
    transition: 0.2s ease;     /* animation propre */
    margin-top: 1rem;
}
#verifier span:hover {
    color: black;
    background-color: #42b72a;
    cursor: pointer;
}
#msgNvMdpValide{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f2f2f2;
    padding: 1rem;
    border-radius: 20px;
}



/*update client*/
.btAnnulerSupprimer{
    all: unset;
}
.btAnnulerSupprimer span {
    cursor: pointer;
    display: inline-flex;      /* permet le background */
    align-items: center;
    justify-content: center;
    padding: 0.5rem;              /* espace autour de l’icône */
    border-radius: 50%;        /* rond si tu veux */
    background-color: black;
    color: white;
    transition: 0.2s ease;     /* animation propre */
}
.btAnnulerSupprimer span:hover {
    color: black;
    background-color: red;
}

.btValider{
    all: unset;
}
.btValider span {
    cursor: pointer;
    display: inline-flex;      /* permet le background */
    align-items: center;
    justify-content: center;
    padding: 0.5rem;              /* espace autour de l’icône */
    border-radius: 50%;        /* rond si tu veux */
    background-color: black;
    color: white;
    transition: 0.2s ease;     /* animation propre */
}
.btValider span:hover {
    color: black;
    background-color: #42b72a;
}

.btVoirContrat{
    all: unset;
}
.btVoirContrat span {
    cursor: pointer;
    display: inline-flex;      /* permet le background */
    align-items: center;
    justify-content: center;
    padding: 0.5rem;              /* espace autour de l’icône */
    border-radius: 50%;        /* rond si tu veux */
    color: white;
    background-color: black;
    transition: 0.2s ease;     /* animation propre */
}
.btVoirContrat span:hover {
    transform: scale(110%);
}

.btModifier{
    all: unset;
}
.btModifier span {
    cursor: pointer;
    display: inline-flex;      /* permet le background */
    align-items: center;
    justify-content: center;
    padding: 0.5rem;              /* espace autour de l’icône */
    border-radius: 50%;        /* rond si tu veux */
    color: black;
    background-color: #f1dd18;
    transition: 0.2s ease;     /* animation propre */
}
.btModifier span:hover {
    transform: scale(110%);
}









/* vue compte proprietaire */
.infos_activites {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}
.conteneurCardsHab{
    display: flex;
    flex-direction: row;
    gap: 16px;
}
.cardHab {
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    padding: 16px;
    width: 220px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 12px;
}
.tabCardHab {
    width: 100%;
    border: none;
}
.tabCardHab td {
    border: none;
    padding: 4px 6px;
    font-size: 14px;
}
.tabCardHab td:first-child {
    color: #888;
    font-weight: 500;
}

.tabCardHab td:last-child {
    font-weight: 600;
    color: #222;
}
.cardHab > div {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
    border-top: 1px solid #eee;
    padding-top: 10px;
}
.cardHab a {
    color: #555;
    transition: color 0.2s;
    text-decoration: none;
}
.cardHab a:hover {
    color: #000;
}


#btSupprimerHabitation{
    all: unset;
}
#btSupprimerHabitation span{
    cursor: pointer;
    display: inline-flex;      /* permet le background */
    align-items: center;
    justify-content: center;
    padding: 0.5rem;              /* espace autour de l’icône */
    border-radius: 50%;        /* rond si tu veux */
    color: white;
    background-color: red;
    transition: 0.2s ease;     /* animation propre */
}
#btSupprimerHabitation span:hover {
    color: white;
    transform: scale(110%);
}

#btModifierHabitation:hover {
    color: dodgerblue;
}







/* vue compte client */
.infos_activites {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.conteneurCardsResa{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.cardResa {
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    padding: 1rem;
    width: 220px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
}
.tabCardResa {
    width: 100%;
    border: none;
}
.tabCardResa td {
    border: none;
    padding: 4px 6px;
    font-size: 14px;
}
.tabCardResa td:first-child {
    color: #888;
    font-weight: 500;
}

.tabCardResa td:last-child {
    font-weight: 600;
    color: #222;
}
.cardResa > div {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
    border-top: 1px solid #eee;
    padding-top: 10px;
}
.cardResa a {
    color: #555;
    transition: color 0.2s;
    text-decoration: none;
}
.cardResa a:hover {
    color: #000;
}



/* vue choix creation annonce */
.conteneurBtChoixCreaAnnonce{
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    gap: 5rem;
}
.btChoixCreaAnnonce{
    background-color: #f1dd18;
    padding: 2rem;
    border-radius: 10px;
    color: black;
    transition: all 0.2s ease;
}
.btChoixCreaAnnonce:hover{
    transform: scale(110%);
}







/*Admin gestion client,propriétaire,réservations,habitations */
.superConteneurGestion{
    width: 80%;
    display: flex;
    flex-direction: row;
    gap: 15rem;
}


.conteneurFormInsert{
    background-color: #f2f2f2;
    border-radius: 20px;
    margin-top: 0.5rem;
}
.conteneurInsert{
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.tabFormInsert{
    all: unset;
    display: table; /* all:unset retire display, il faut le remettre */
    border: none;
    border-radius: 20px;
    padding: 1rem;
}
.tabFormInsert td{
    border: none;
    padding: 0.3rem;
}
.conteneurBtFormInsert{
    display: flex;
    justify-content: center;
    margin: 0.5rem 0 0.5rem 0;
    gap: 0.5rem;
}
.btAnnulerFormInsert{
    all: unset;
    color: white;
    background-color: red;
    padding: 0.4rem;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    transition: transform 0.2s ease;
}
.btAnnulerFormInsert:hover{
    transform: scale(110%) ;
}
.btValiderFormInsert{
    all: unset;
    color: white;
    background-color: green;
    padding: 0.4rem;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    transition: transform 0.2s ease;
}
.btValiderFormInsert:hover{
    transform: scale(110%) ;
}


.conteneurListe{
    flex: 1;
    min-width: 0; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.conteneurFiltrer{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
.btFiltrer{
    all: unset;
    color: black;
    background-color:#f1dd18;
    padding: 0.4rem;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    transition: transform 0.2s ease;
}
.btFiltrer:hover{
    transform: scale(110%);
}
.conteneurTabListe{
    width: 100%;
    height: 20rem;
    overflow: scroll;
}
.tabListe{
    all: unset;
    display: table;
    border-collapse: collapse;
    margin: 0.5rem 0 0.5rem 0; 
}
.tabListe td{
    border: 1px solid #aaaaaa;
    padding: 0.3rem;
}
.tabListe th{
    border: 1px solid #555555;
    background-color: black;
    color: white;
}
.tabListe tbody tr:nth-child(odd){
    background-color: #f2f2f2;
}




.conteneurBtChoixHabitation{
    display: flex;
    flex-direction: row;
    gap: 5rem;
    margin: 5rem 0rem 5rem 0rem;
}
.btChoixHabitation{
    background-color: #f1dd18;
    padding: 2rem;
    border-radius: 20px;
    transition: transform 0.2s ease;
}
.btChoixHabitation:hover{
    transform: scale(110%) ;
}





.btDelete:hover{
    color: red;
    transform: scale(125%);
}
.btEdit:hover{
    color: #f1dd18;
    transform: scale(125%);
}



/*vue mdp oublie*/
.conteneurBtFormMdpOublie{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}



